@import "src/styles/global.module";
.Button {
	outline: none;
	border: 1px solid black;
	padding: $control-padding;
	border-radius: 4px;
	width: 100%;
	font-family: 'MONTSERRAT', sans-serif;
	font-size: $initial-font;
	cursor: pointer;
	background: $high-light;
	color: black;
	&:active {
		transform: scale(0.95);
	}
}
