$initial-font: 16px;
$initial-width: 1200px;
$control-padding: 0.4rem;
$dark-primary: #292929;
$dark-secondary: #1e1e1e;
$font-color: #e1e1e1;
$high-light: #bb86fc;

//:global(.myclass) {
//  background-color: red;
//}
