@import "src/styles/global.module";
.Select {
	display: flex;
	flex-direction: column;
	flex: 1;
	select {
		min-width: 100px;
		padding: $control-padding;
		border: 1px solid black;
		border-radius: 4px;
		outline: none;
		background-color: #fff;
		font-size: $initial-font;
	}
}
