@import "styles/global.module";
html, body {
	height: 100%;
	font-size: $initial-font;
	background: $dark-secondary;
	color: $font-color;
	.root {
		height: inherit;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: 'MONTSERRAT', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

a {
	color: $high-light;
}
