@import "src/styles/global.module";

.HomePage {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	.container {
		width: 100%;
		box-sizing: border-box;
		.heading {
			font-weight: 400;
			padding: 20px 1rem;
		}
	}
}

@media screen and (min-width: 576px) {
	.HomePage {
		.container {
			width: $initial-width;
			.heading {
				padding: 20px 2rem;
			}
		}
	}
}
